@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Cinzel", serif;
  font-weight: 200;
}

body {
  background-image: linear-gradient(to top right, #e5e5a378, #8682da);
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  align-items: center;
}

h1 {
  color: white;
  margin-top: 30px;
}

header {
  display: fixed;
  position: relative;
  top: 0;
  width: 100vw;
  background-color: rgb(55, 55, 55);
  height: 50px;
  color: white;
  text-align: center;
}

a {
  text-emphasis: none;
  text-decoration: none;
  color: white;
  margin: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  padding: 20px;
}

.card {
  display: flex;
  background-color: rgb(254, 254, 254);
  border: 5px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 160px;
  height: 200px;
  padding: 50px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 10px black;
}
/*
.backside {
  display: flex;
  background-color: rgb(254, 254, 254);
  border: 5px solid rgb(221, 221, 221);
  border-radius: 5px;
  width: 160px;
  height: 200px;
  padding: 50px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 10px black;
}*/

.card:hover {
  animation: pulsate 1.5s infinite;
  background-color: rgba(0, 0, 0, 0.663);
  color: white;
}

.backside:hover {
  animation: pulsate 1.5s infinite;
}

img {
  display: block;
  width: 250px;
}

.content {
  display: flex;
  padding: 5px;
  align-items: center;

  /*background-color: rgba(0, 0, 0, 0.663);
  background-image: linear-gradient(
    to top left,
    rgba(17, 159, 172, 0.172),
    rgba(231, 205, 72, 0.216),
    rgba(128, 0, 128, 0.147)
  );*/
  /*background-image: url("cardback.png");*/
  background-image: url("foil_card.png");

  position: absolute;
  border-radius: 5px;
  height: 300px;
  width: 260px;
  line-height: 30px;
}

.description {
  position: relative;
  top: 280px;
  text-align: center;
  color: rgb(255, 255, 255);
  height: 60%;
  width: 100%;
  background-color: rgba(231, 212, 119, 0.546);
  border: 5px solid wheat;
  border-radius: 5px;
  color: black;
  font-weight: 600;
}

@keyframes pulsate {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: none;
  }
}

.flipCard {
  animation: flipCard 1s;
}

@keyframes flipCard {
  0% {
    transform: none;
  }
  100% {
    transform: rotateY(180deg);
  }
}
