@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Cinzel", serif;
  display: block;
  align-items: center;
  width: auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.grid-container {
  margin: auto;
  width: 30em;
  text-align: center;
}

.title {
  text-align: center;
  margin: auto;
  padding-top: 4vh;
}

.playerX {
  display: inline;
  font-size: 5em;
  float: left;
  margin: 11vh 0;
}

.playerO {
  display: inline;
  font-size: 5em;
  float: right;
  margin: 11vh 0;
}

.game-container {
  display: inline-grid;
  grid-template: repeat(3, 5em) / repeat(3, 5em);
  grid-gap: 1px;
  margin-top: 4vh;
}

.tile {
  background-color: rgb(35, 105, 84);
  text-align: center;
  font-size: 400%;
  box-shadow: -1px -1px 5px black;
  color: rgb(251, 239, 223);
  cursor: pointer;
}

.active {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.gameOver {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
}

.winMsg {
  color: white;
  font-size: 200%;
  text-align: center;
  margin-top: 20vh;
}

.newGame {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 2px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.reset {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 2px;
  font-weight: bold;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.animate {
  animation: warning 1s;
}

@keyframes warning {
  0% {
    background-color: rgb(20, 57, 46);
  }
  25% {
    background-color: rgb(253, 0, 0);
  }
  50% {
    background-color: rgb(20, 57, 46);
  }
  75% {
    background-color: rgb(253, 0, 0);
  }
  100% {
    background-color: rgb(20, 57, 46);
  }
}
