@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Lato:wght@300&display=swap");
@font-face {
  font-family: "Muli";
  src: url(./assets/fonts/muli/Muli-ExtraLight.ttf);
}

html::-webkit-scrollbar {
  display: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.navbar .navbar-brand {
  color: #fec947;
  font-size: 1.8em;
}

.navbar-brand:hover {
  color: #ffffff;
}

.navbar-nav {
  display: flex;
  gap: 15px;
  color: rgba(221, 221, 221, 0.826);
}

.navbar-nav span:hover {
  color: #ffffff;
}

.navbar-toggler {
  color: rgba(221, 221, 221, 0.826);
  border: 2px solid rgba(221, 221, 221, 0.826);
  padding-top: 10px;
  display: none;
}

.container__segment--first {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/img/bg-pattern.png),
    linear-gradient(to right, #da2632, #7d4495);
}

.container__content--first {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.intro--light {
  font-size: 2em;
  color: white;
}

.intro--dark {
  font-size: 2em;
  color: rgb(0, 0, 0);
}

.phone {
  display: flex;
  justify-content: center;
  object-fit: fill;
  width: 200px;
}

.btn--startNow {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  letter-spacing: 0.1em;
  font-size: 10px;
  width: 200px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  color: white;
  padding: 10px 5px;
  transition: 0.3s;
  /*transition: 0s; if we wanted to delay the whole transition*/
}

.btn--startNow:hover {
  /* transition-delay: 0.3s; if we wanted to delay the whole transition*/
  background-color: #fdcc52;
  border: 2px solid #fdcc52;
}

.container__segment--second {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100vw;
  background-color: #fec947;
}

.container__content--second {
  margin-top: 6rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.linkGroup {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.container__segment--third {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  width: 100vw;
  background-color: white;
}

.container__content--third {
  display: flex;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.container__features--third {
  display: flex;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin: 0, auto;
}

.container__features--third-right {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
}

.toprow {
  display: flex;
  flex-direction: row;
}

.bottomrow {
  display: flex;
  flex-direction: row;
}

.feature-description {
  width: 200px;
}

.container__segment--fourth {
  height: 500px;
  width: 100vw;
  display: flex;
  align-items: center;

  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(./assets/img/bg-cta.jpg);
  background-size: cover;
  background-position: center;
}

.container__content--fourth {
  display: flex;
  width: 30%;
  margin-left: 15%;
  flex-direction: column;
}

.container__segment--fifth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  height: 250px;
  width: 100vw;
  background-color: #feca47;
}

.container__segment--sixth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Muli", Helvetica, Arial, sans-serif;
  height: 75px;
  width: 100vw;
  background-color: #222222;
  color: rgb(98, 98, 98);
}

.links {
  display: flex;
  justify-content: center;
  gap: 15px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

.links div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 50%;
  font-size: 30px;
}

.facebook {
  background-color: #3b5999;
  opacity: 0.9;
}

.twitter {
  background-color: #1da1f3;
  opacity: 0.9;
}

.youtube {
  background-color: #ff0000;
  opacity: 0.9;
}

.facebook:hover,
.twitter:hover,
.youtube:hover {
  opacity: 1;
}

.footerlinks span:hover {
  color: #feca47;
}

.fa-unlock-alt,
.fa-gift,
.fa-mobile,
.fa-camera {
  height: 60px;
  width: 60px;

  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(#b42d56),
    to(#99356b)
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
}

.header--big {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 3em;
}

.paragraph {
  font-family: "Muli", Helvetica, Arial, sans-serif;
  text-align: center;
}

.header_icon {
  font-family: "Catamaran", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
}

/* Modal styles */
.modal {
  display: none;
  background-color: rgba(0, 0, 0, 0.626);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  width: 50%;
  padding: 15px;
  gap: 5px;
  z-index: 10;
}

.modal-header {
  display: flex;
  justify-self: center;
  align-self: flex-start;
  font-size: 120%;
  font-weight: bold;
}

.modal-text {
  display: flex;
  text-align: justify;
  justify-self: center;
  align-self: flex-start;
  width: 90%;
  padding: 10px;
}

.modal-footer {
  display: flex;
  gap: 5px;
  padding: 10px;
  justify-self: flex-end;
  align-self: flex-end;
}

.btn {
  font-family: "Lato", Helvetica, Arial, sans-serif;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}

.btn:hover {
  background-color: #99356b;
}

.btn--okay {
  background-color: rgb(145, 145, 145);
}

.btn--close {
  align-self: flex-end;
  background-color: rgb(145, 145, 145);
}

.fadeIn {
  animation: fade 1s normal forwards;
}

.fadeOut {
  animation: fade 1s reverse forwards;
}

@keyframes fade {
  0% {
    visibility: hidden;
    opacity: 0;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

@media only screen and (max-width: 992px) {
  .container__content--first {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .left {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 85%;
    font-size: 0.8rem;
    gap: 20px;
  }

  .linkGroup {
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
  }

  .container__content--third {
    text-align: center;
  }

  .container__features--third {
    flex-direction: column;
    align-items: center;
  }

  .header {
    padding: 20px;
    text-align: center;
  }

  .toprow {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .bottomrow {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .feature {
    padding: 20px;
  }

  .header--big {
    font-size: 2rem;
  }

  .container__content--fourth {
    width: 50%;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 20px;
  }

  .navbar-left {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
  }

  .navbar-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    cursor: pointer;
  }
}
